header {
    @include flex-center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    background-color: #1C1C1C;
    z-index: 99;

    div.content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 82%;
        
        img {
            height: 100%;
            width: 120px;
        }

        nav {
            height: 100%;
            
            ul {
                height: 100%;
                list-style: none;
                margin: 0;
                padding: 0;
                overflow: hidden;

                li {
                    @include flex-center;
                    position: relative;
                    height: 100%;
                    float: left;
                    font-size: 0.875rem;
                    width: auto;
                    margin-right: 2.6vw;

                    &:nth-last-of-type(1) {
                        margin: 0;
                    }
                  }
                  
                  li a {
                    color: white;
                    opacity: 0.69;
                    text-decoration: none;
                    z-index: 100;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $brand-color-redish;
                        opacity: 0;
                        transition: opacity 0.3s;
                    }

                    &:hover {
                        opacity: 1;

                        &:after {
                            opacity: 1;
                        }
                    }

                  }
            }
        }
    }
}