@import "mixins.scss";

section.introduction {
    margin-top: 72px;

    div.main-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        width: 100%;
        background-image: url("images/photo-1480714378408-67cf0d13bc1b.jpg");
        background-size: cover;
        background-position: center;
        z-index: 0;

        div.content {
            min-height: 78vh;
            width: 82%;
            @include flex-center;

            div.content-box {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                height: 500px;
            }

            div.download-container {
                min-height: 450px;
                width: 60%;

                img {
                    height: 100px;
                    width: 250px;
                    margin-bottom: 22px;
                }

                p.short-text {
                    position: relative;
                    color: #fff;
                    font-size: 36px;
                    font-weight: 600;
                    margin: 0;
                    line-height: 43px;
                    margin-bottom: 70px;

                    &:after {
                        position: absolute;
                        content: "";
                        background-color:#fff;
                        width: 67px;
                        height: 2px;
                        left: 5px;
                        bottom: -35px;
                    }
                }

                p.long-text {
                    color: #fff;
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 35px;
                }

                button.download {
                    background: none;
                    width: 135px;
                    height: 40px;
                    color: #fff;
                    border: 2px solid #fff;
                    cursor: pointer;
                    font-family: montserrat;
                    font-weight: 600;
                    transition: background-color 0.3s;

                    &:hover {
                        color: #000;
                        background-color: #fff;
                    }
                }
            }

            div.sign-up-container{
                min-height: 450px;
                width: 40%;
                display: flex;
                justify-content: flex-end;

                div.window {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 360px;
                    height: 450px;
                    background-color: #fff;
                    border-radius: 5px;
                    overflow: hidden;

                    div.free-trial {
                        @include flex-center;
                        width: 100%;
                        height: 60px;
                        background-color: #F5F5F5;

                        p {
                            font-weight: 600;
                            font-size: 1.25rem;
                            color: #333333
                        }
                        p span {
                            text-transform: uppercase;
                            color: $brand-color-redish;
                        }
                    }

                    button.get-started {
                        width: 100%;
                        height: 60px;
                        border: none;
                        background-color: #41D395;
                        font-weight: 600;
                        font-size: 1.25rem;
                        font-family: montserrat;
                        color: #fff;
                        cursor: pointer;
                    }

                    div.input-container {
                        @include flex-center;
                        flex-direction: column;

                        div.input-box {
                            width: 70%;

                            input.text {
                                width: 100%;
                                padding: 6px;
                                border: none;
                                border-bottom: 1px solid #D8D8D8;
                                margin-bottom: 20px;
                                color: black;
                                font-size: 12px;
                                font-family: montserrat;

                                &:nth-of-type(3) {
                                    margin-bottom: 30px;
                                }
                            }

                            p {
                                font-weight: 600;
                                font-size: 16px;
                                margin: 0;
                                margin-bottom: 20px;
                            }

                            div.radio-wrapper {
                                
                                input {
                                    display: none;
                                }

                                label {
                                    cursor: pointer;
                                    padding-left: 20px;
                                    position: relative;
                                    margin-right: 10px;
                                    font-size: 12px;

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        width: 13px;
                                        height: 13px;
                                        border: 1px solid #41D395;
                                        border-radius: 50%;
                                    }

                                    &::after {
                                        content: "";
                                        position: absolute;
                                        left: 4px;
                                        bottom: 4px;
                                        width: 8px;
                                        height: 8px;
                                        background-color: #41D395;
                                        border-radius: 50%;
                                        opacity: 0;
                                        transition: opacity 0.5s;
                                    }

                                }

                                input:checked + label::after{
                                    opacity: 1;
                                }

                                input:checked + label::before{
                                    border: 2px solid #41D395;
                                    width: 12px;
                                    height: 12px;
                                }

                                input:checked + label{
                                    font-weight: 600;
                                    font-size: 12px;
                                }

                            }
                        }
                    }
                }
            }
        }

        div.dim {
            position: absolute;
            bottom: 0;
            width: 100%;
            min-height: 100%;
            background-color: #1C1C1C;
            opacity: 0.63;
            z-index: -1;
        }
    }

    div.social-media {
        @include flex-center;
        width: 100%;
        min-height: 13vh;
        background-color: #fff;

        div.content {
            width: 82%;
            display: flex;
            justify-content: space-between;


            div.text-container {
                display: flex;
                flex-direction: column;
                width: 40%;

                p.heading {
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0;
                    margin-bottom: 5px;
                }

                p.text {
                    font-size: 14px;
                    margin: 0;
                        line-height: 20px;
                }
            }

            div.img-container {
                width: 55%;
                display: flex;
                justify-content: space-between;

                img {
                    cursor: pointer;
                }
            }
        }
    }
}