@import "mixins.scss";

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@import "header.scss";
@import "intro.scss";
@import "features.scss";
@import "about.scss";
@import "pricing.scss";
@import "reviews.scss";
@import "contact.scss";
@import "footer.scss";